.nav-container {
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 6.25rem;
  align-items: center;
  position: sticky;
}

.left-side {
  padding-left: 1rem;
  display: flex;
  height: 100px;
}

.home-icon img {
  max-height: 100%;
  max-width: 100%;
}

.nav-title {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-list {
  padding-left: 1.875rem;
  text-align: center;
}

.nav-list-item {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 1.875rem;
  color: black;
  transition: border 500s ease-in;
  background-size: 0% 3px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(black, black);
  transition: background 0.3s linear;
}

.active {
  color: #8900c5;
  text-decoration: underline;
  font-weight: 700;
}

.active:hover {
  background-size: 100% 3px;
  background-image: linear-gradient(#8900c5, #8900c5);
  text-decoration: none;
}

.nav-list-item:hover {
  background-size: 100% 3px;
}

.right-side {
  display: flex;
  justify-content: end;
  padding-right: 1.875rem;
}

.language-nor {
  cursor: pointer;
}

.language-nor:hover {
  opacity: 0.75;
}
