.edit-faqs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  padding: 2rem;
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 1rem;
}

.faq-wrapper .btn-smaller {
  align-self: center;
}

.edit-faq-wrapper {
  display: flex;
  flex-direction: column;
}

.edit-faq-label {
  font-weight: 700;
  font-size: 1.5rem;
}

.edit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.edit-button .link {
  margin-right: 0.5rem;
}

.endrefaq-add {
  color: #bd00ff;
  width: 100px;
  height: 100px;
  margin: auto;
}

.endrefaq-add:hover {
  cursor: pointer;
  color: #666666;
}

.endrefaq-add:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: 0.25rem;
}

@media only screen and (max-width: 1400px) {
  .edit-faqs-container {
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 1070px) {
  .edit-faqs-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 720px) {
  .edit-faqs-container {
    grid-template-columns: 1fr;
  }
}
