.conten-soknad {
  margin: 0 auto;
}

.soknad-btn {
  display: flex;
}

.step-soknad {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
}

.soknad-stengt-text {
  font-size: 1.5rem;
  text-align: center;
  max-width: 75ch;
  margin: auto;
  margin-top: 4rem;
}

@media only screen and (max-width: 600px) {
  .step-soknad {
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
  }
}
