.mytrip-card-container {
  width: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 2px 2px #e5e5e5;
  cursor: pointer;
  overflow: hidden;
}

.mytrip-card-container:hover {
  background-color: #eaddff;
}

.mytrip-picture {
  object-fit: fill;
  height: fit-content;
  width: 100%;
}

.mytrip-picture-blur {
  object-fit: fill;
  height: auto;
  width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 5%;
}

.season-date-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 0.625rem;
}

.card-season {
  font-weight: 700;
  font-size: 1.125rem;
}

.handling-info {
  position: absolute;
  bottom: 0;
  right: 1rem;
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e'
    'f';
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 3%;
}

.warning {
  text-align: center;
  grid-area: f;
}

.warning:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}

.warning-icon {
  color: red;
  width: 2.5rem;
  height: auto;
  grid-area: e;
  justify-self: center;
}

.warning-text {
  margin: 0;
  margin-bottom: 10%;
  align-self: center;
}

.cancel-box {
  display: grid;
  height: 100%;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10%;
}

.pending-text {
  font-weight: 700;
  margin-bottom: 0;
}

.pending-date {
  margin-top: 0;
}

.pending-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pending-icon {
  font-size: 2.5rem;
}

.relative-container {
  position: relative;
}

.cancel-container {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 1rem;
  flex-direction: row;
  align-items: center;
  grid-area: d;
  margin-bottom: 0.5rem;
}

.cancel-icon {
  color: red;
  font-size: 2.5rem;
}

.cancel-text {
  font-weight: 700;
  margin: 0;
  line-height: 1rem;
  font-size: 1rem;
  height: 1rem;
}

.cancel-container:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

@media only screen and (max-width: 1795px) {
  .card-title {
    font-size: 1rem;
  }

  .card-season {
    font-size: 0.8rem;
  }

  .card-date {
    font-size: 0.8rem;
  }

  .pending-text {
    font-size: 0.8rem;
  }

  .pending-date {
    font-size: 0.8rem;
  }

  .cancel-text {
    font-size: 0.8rem;
  }

  .cancel-icon {
    font-size: 1.5rem;
  }

  .card-info {
    width: 225px;
  }

  .warning-text {
    font-size: 0.8rem;
  }

  .warning-icon {
    width: 2rem;
  }

  .pending-icon {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1220px) {
  .card-title {
    font-size: 2.5rem;
  }

  .card-season {
    font-size: 2rem;
  }

  .card-date {
    font-size: 2rem;
  }

  .pending-text {
    font-size: 2rem;
  }

  .pending-date {
    font-size: 2rem;
  }

  .cancel-text {
    font-size: 2rem;
  }

  .cancel-icon {
    font-size: 2.5rem;
  }

  .card-info {
    width: 350px;
  }

  .warning-text {
    font-size: 1.5rem;
  }

  .warning-icon {
    width: 2.5rem;
  }

  .pending-icon {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .card-title {
    font-size: 2rem;
  }

  .card-season {
    font-size: 1.5rem;
  }

  .card-date {
    font-size: 1.5rem;
  }

  .pending-text {
    font-size: 1.5rem;
  }

  .pending-date {
    font-size: 1.5rem;
  }

  .cancel-text {
    font-size: 1.5rem;
  }

  .cancel-icon {
    font-size: 2rem;
  }

  .card-info {
    width: 250px;
  }

  .warning-text {
    font-size: 1.5rem;
  }

  .warning-icon {
    width: 2rem;
  }

  .pending-icon {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .card-title {
    font-size: 1.5rem;
  }

  .card-season {
    font-size: 1rem;
  }

  .card-date {
    font-size: 1rem;
  }

  .pending-text {
    font-size: 1rem;
  }

  .pending-date {
    font-size: 1rem;
  }

  .cancel-text {
    font-size: 1rem;
  }

  .cancel-icon {
    font-size: 2rem;
  }

  .card-info {
    width: 250px;
  }

  .warning-text {
    font-size: 1rem;
  }

  .warning-icon {
    width: 2rem;
  }

  .pending-icon {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 525px) {
  .card-season {
    font-size: 0.8rem;
  }

  .card-date {
    font-size: 0.8rem;
  }

  .pending-text {
    font-size: 0.8rem;
  }

  .pending-date {
    font-size: 0.8rem;
  }

  .cancel-text {
    font-size: 0.8rem;
  }

  .cancel-icon {
    font-size: 1.5rem;
  }

  .card-info {
    width: 250px;
  }

  .warning-text {
    font-size: 0.8rem;
  }

  .warning-icon {
    width: 1.5rem;
  }

  .pending-icon {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 490px) {
  .card-info {
    width: 150px;
  }

  .card-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 395px) {
  .season-date-wrapper {
    margin-top: 0.25rem;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 0.2rem;
  }
  .season-date-wrapper p {
    margin: 0;
  }

  .card-season {
    font-size: 0.75rem;
  }

  .card-date {
    font-size: 0.75rem;
  }

  .pending-text {
    font-size: 0.75rem;
  }

  .pending-date {
    font-size: 0.75rem;
  }

  .cancel-text {
    font-size: 0.75rem;
  }

  .cancel-icon {
    font-size: 1rem;
  }

  .card-info {
    width: 150px;
  }

  .warning-text {
    font-size: 0rem;
  }
  .handling-info {
    padding: 0;
  }

  .warning-icon {
    margin-bottom: 0.35rem;
  }

  .pending-icon {
    margin-top: 0.35rem;
    font-size: 1rem;
  }
}
