.mytrip-card-container {
  width: 100%;
  height: 266px;
  margin-bottom: 2.25rem;
  display: grid;
  grid-template-columns: 256.99px 171.5px 171.5px;
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 2px 2px #e5e5e5;
  cursor: pointer;
}

.mytrip-card-container:hover {
  background-color: #eaddff;
}

.mytrip-picture {
  object-fit: cover;
}

.mytrip-picture-blur {
  object-fit: cover;
  filter: blur(2px);
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 5%;
}

.season-date-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  grid-gap: 0.625rem;
}

.card-season {
  font-weight: 700;
  font-size: 1.125rem;
}

.handling-info {
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e'
    'f';
  height: 266px;
  align-items: flex-end;
  justify-content: end;
  padding-right: 10%;
}

.warning-icon {
  color: red;
  width: 2.5rem;
  height: auto;
  grid-area: e;
  justify-self: center;
}

.warning-text {
  margin: 0;
  grid-area: f;
  align-self: center;
}

.cancel-box {
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
  justify-content: end;
  align-items: end;
  padding-right: 10%;
}

.pending-text {
  font-weight: 700;
  margin-bottom: 0;
}

.pending-date {
  margin-top: 0;
}

.pending-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.pending-icon {
  font-size: 2.5rem;
}

.cancel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: d;
}

.cancel-icon {
  color: red;
  font-size: 2.5rem;
}

.cancel-text {
  font-weight: 700;
  text-decoration: underline;
}
