#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer-container {
  margin-top: auto;
  background-color: black;
}
.link-container {
  margin: calc(1rem + 2vw);
}
.link-row-container {
  display: flex;

  margin: auto;
}

.footer-links {
  display: inline-block;
  margin: auto;
  color: white;
}
.copyright_container {
  display: flex;
  align-items: center;
}
.footer-container p {
  color: white;
  opacity: 0.7;
}
.copyright {
  margin-left: auto;
  opacity: 0.7;
}
