.clicked {
  fill: #666666;
}

.map {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pigeon-map {
  width: 80% !important;
}

.map-elements {
  width: 80%;
  margin: 0 auto -80px auto;
}

.map-zoom-elements {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  top: 100px;
  z-index: 2;
}

.map-zoom-btn {
  padding: 0.5rem;
  margin: 1rem;
  width: 5rem;
  background-color: white;
  border-radius: 0.25rem;
  border: 2px solid #bd00ff;
  box-shadow: 0px 0px 2px 2px #e5e5e5;
  font-size: 3rem;
}

.map-zoom-btn:hover {
  cursor: pointer;
  background-color: #eaddff;
}

.map-zoom-btn:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: 0.25rem;
}

.cabincardmap-btn {
  border-radius: 100rem;
  background-color: white;
  border: none;
  font-size: 3rem;
  height: fit-content;
  width: fit-content;
  margin: 0.5rem;
  padding: 1px 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px 2px #e5e5e5;
}

.cabincardmap-btn:hover {
  cursor: pointer;
  background-color: #eaddff;
}

.cabincardmap-btn:hover svg polyline {
  stroke: black;
}

.cabincardmap-btn:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: 0.25rem;
  background-color: #eaddff;
}
.cabincardmap-btn:focus-visible svg polyline {
  stroke: black;
}

.cabincardmap-btn svg polyline {
  stroke: #bd00ff;
}

@media only screen and (max-width: 900px) {
  .map-zoom-btn {
    padding: 0.25rem;
    width: 3rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .map-elements {
    width: 100%;
  }
}
