.mytrip-container {
  margin-bottom: 3rem;
}

.mytrip-title {
  font-weight: bold;
  font-size: 2.25rem;
  margin-top: 1rem;
  padding-left: 3rem;
}

.trip-row-wrapper {
  padding-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.mintur-link {
  text-decoration: none;
  color: black;
}

hr {
  margin-left: 3rem;
  margin-right: 3rem;
}
