.endreperiode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.edit-input-wrapper {
  display: flex;
  flex-direction: column;
}

.edit-period-input {
  width: 300px;
  height: 2rem;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 0.9rem;
}

.edit-period-title {
  font-weight: 700;
  margin: 1rem 0 0 0;
  width: 100%;
}

.endreperiode-container select:hover {
  cursor: pointer;
}

.endreperiode-container select {
  margin-bottom: 2rem;
}

#edit-period-select:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
}

.periodbuttons {
  display: flex;
  grid-gap: 1rem;
}
