:root {
  --purple: #bd00ff;
  --light-purple: #eaddff;
  --white: white;
  --black: black;
}

.btn {
  display: block;
  padding: 20px;

  background-color: var(--purple);
  border-radius: 5px;
  border: 0;

  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
  font-weight: 700;

  border: 3px solid var(--purple);
}

.back-btn:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: -0.5rem;
}

.btn:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: 0.25rem;
}

.btn-tiny {
  background-color: var(--purple);
  border-radius: 5px;
  border: 0;
  color: var(--white);
  font-weight: 700;
  padding: 0.3rem;
  cursor: pointer;
}

.btn-tiny:hover {
  background-color: var(--light-purple);
  color: var(--black);
}

.btn-tiny:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: 0.25rem;
}

.btn-link {
  color: var(--white);
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--light-purple);
  color: var(--black);
}

.btn:hover .btn-link {
  color: var(--black);
}

.big {
  max-width: 400px;
  width: 50%;
  margin: 25px auto 25px auto;
}

.small {
  max-width: 200px;
  width: 30%;
  margin: 25px auto 25px auto;
}

.btn-nonActive {
  background-color: var(--light-purple);
  color: var(--black);
  border: 0;
  border: 3px solid var(--light-purple);
}

.btn-nonActive:hover {
  background-color: var(--purple);
  color: var(--white);
  border: 3px solid var(--purple);
}

.admin-edit-btn {
  background-color: var(--purple);
  border-radius: 5px;
  border: 0;
  text-align: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 5px;
  font-size: 1rem;
  color: var(--white);
  font-weight: 750;
  cursor: pointer;
  border: 3px solid var(--purple);
}

.back-btn {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: var(--light-purple);
  font-weight: 700;
  border: 0;
  padding: 0;
  font-size: 1.5rem;
}

.backbtn-title {
  color: var(--black);
}

.backbtn-arrow {
  padding-left: 2.5rem;
  text-align: left;
  color: var(--black);
}

.btn-smaller {
  color: var(--white);
  background-color: var(--purple);
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 750;
  width: 125px;
  text-align: center;
}

.btn-smaller:hover {
  background-color: var(--light-purple);
  color: var(--black);
  outline: 3px solid var(--purple);
}

.btn-smaller:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: 0.25rem;
}

.feedback-btn {
  color: var(--white);
  background-color: var(--purple);
  padding: 1.5rem;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: 750;
  width: 125px;
  text-align: center;
  margin-top: 1rem;
}

.tabbtn {
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--purple);
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.3rem 2vw;
  width: calc(5rem + 10vw);
  min-width: fit-content;
  margin: 0 auto;
}

.tabbtn.activetab {
  background-color: var(--purple);
  color: var(--white);
  border-color: var(--purple);
}

.btn-medium {
  color: var(--white);
  background-color: var(--purple);
  width: 500px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 750;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.btn-medium:hover {
  background-color: var(--light-purple);
  color: var(--black);
  outline: 3px solid var(--purple);
}

.btn-medium:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: 0.25rem;
}

@media only screen and (max-width: 625px) {
  .btn-medium {
    width: 350px;
  }
}

@media only screen and (max-width: 500px) {
  .btn {
    padding: 15px 10px;
    font-size: 1rem;
  }

  .back-btn {
    height: 4rem;
  }

  .tabbtn {
    padding: 0.3rem 2vw;
  }
}

@media only screen and (max-width: 450px) {
  .btn-medium {
    width: 250px;
  }
}

@media only screen and (max-width: 357px) {
  .btn-smaller {
    font-size: 0.8rem;
    width: 100px;
  }
}
