.stepQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin: 0 auto;
}

.stepQuestion:hover {
  color: #bd00ff;
  cursor: pointer;
}
.stepQuestion:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
}

.step-extra-info-div {
  margin-bottom: 2rem;
}

.step-extra-info-p {
  text-align: center;
  margin: 0;
}

.soknad-question-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.soknad-question-text {
  font-size: 1.75rem;
}

.soknad-error {
  color: red;
  animation-name: error;
  animation-duration: 0.25s;
}

@keyframes error {
  0% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
}

@media only screen and (max-width: 600px) {
  .soknad-question-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .soknad-question-text {
    font-size: 1.1rem;
  }
}
