.input-header {
  width: 80%;
  margin: 0 auto;
}

.perioder-input {
  width: calc(80% - 40px);
  min-height: 100px;
  max-height: 200px;

  margin: 25px auto;
  padding: 10px 20px;
  overflow-x: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  border: 2px solid black;
  border-radius: 5px;
}

.soknad-step2-period {
  margin: 2px 0;
  display: flex;
  flex-direction: column;
}

.soknad-step2-label {
  padding: 10px;
  border-radius: 1px;
}

.soknad-step2-label:hover {
  cursor: pointer;
}

.soknad-step2-checkbox {
  width: 100%;
  height: 0px;
}

.soknad-step2-checkbox:checked ~ .soknad-step2-label {
  background-color: #bc01ff;
  color: white;
}

.soknad-step2-checkbox:focus-visible ~ .soknad-step2-label {
  outline: black 2px solid;
}

.soknad-step2-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soknad-step2-indicator {
  font-size: 4rem;
  font-weight: 1000;
  margin: 0;
  padding: 20px;
}

.step2-error {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .perioder-input {
    width: calc(90% - 10px);
    min-height: 50px;
    max-height: 100px;

    margin: 15px auto;
    padding: 5px;
  }
}
