.address {
  display: grid;
  grid-template-columns: 3rem auto;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}

.address-txt p {
  margin: 0;
}

.address > .feature-icon {
  align-items: flex-start;
}
.focus-link:focus-visible {
  outline-style: solid;
  outline-width: medium;
  outline-color: black;
  outline-offset: 0.25rem;
}
