.features {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  padding: 2rem 0;
}

.features-item {
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
  gap: 1rem;
  margin: 0 2rem;
}

@media only screen and (max-width: 700px) {
  .features {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 450px) {
  .features {
    grid-template-columns: 1fr;
  }
}
