.infowrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 2rem 0;
}

@media only screen and (max-width: 1200px) {
  .infowrapper {
    grid-template-columns: 5fr 2fr;
  }
}

@media only screen and (max-width: 800px) {
  .infowrapper {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
