.login-container {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.login-form-group {
  display: flex;
  flex-direction: column;
}

.login-form-group label {
  font-weight: 750;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.login-form-group input {
  width: 400px;
  height: 40px;
  padding-left: 10px;
}

.login-buttons {
  text-align: center;
}

.login-buttons a {
  text-decoration: underline;
  color: black;
}

@media only screen and (max-width: 600px) {
  .login-form-group input {
    width: 250px;
  }
}
