.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.hero-container {
  position: absolute;
  width: 100%;
}

.hero-picture {
  width: 100%;
  opacity: 0.5;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.admin-hero-picture {
  width: 100%;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.hero-text {
  position: absolute;

  width: 100%;
  text-align: center;

  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 750;
  letter-spacing: 7px;
  z-index: 2;
}

.admin-hero-text {
  position: absolute;
  width: 100%;
  text-align: center;

  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 750;
  letter-spacing: 7px;
  z-index: 5;
  color: var(--white);
  margin-top: 3rem;
}

@media only screen and (max-width: 850px) {
  .hero {
    height: 100px;
  }

  .hero-text {
    margin-top: 10px;
    font-size: 2rem;
  }

  .admin-hero-text {
    margin-top: 10px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .hero {
    height: 100px;
    object-fit: contain;
  }
  .hero-picture {
    height: 100px;
    width: auto;
  }

  .admin-hero-picture {
    width: auto;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  .admin-hero-text {
    font-size: 1.5rem;
  }
}
